.App {
  height: 100vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
}

.AppContainer {
  margin: auto;
  display: grid;

  grid-template-columns: repeat(8, 156px);
  grid-template-rows: repeat(8, 64px);

  gap: 16px;
}

.Upload:nth-of-type(1) {
  grid-row: span 8;
  grid-column: span 4;
}

.Upload:nth-of-type(2) {
  grid-row: span 4;
  grid-column: span 4;
}

.Upload:nth-of-type(3) {
  grid-row: span 4;
  grid-column: span 2;
}

.Upload:nth-of-type(4) {
  grid-row: span 4;
}

.Upload:nth-of-type(5),
.Upload:nth-of-type(6) {
  grid-row: span 2;
}

.ButtonUpload {
  width: 100%;
  height: 100%;
}

.ImageUpload {
  width: 100%;
  height: 100%;

  cursor: pointer;

  border-radius: 8px;

  object-fit: cover;
  object-position: 0 0;

  border: 1px dashed black;

  user-select: none;
}
